<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Host" value=""/>
		<add key="Ns1" value=""/>
		<add key="Ns2" value=""/>
		<add key="APath" value=""/>
		<add key="CnamePath" value=""/>
	</appSettings>	
</configuration>